<div class="cookie-policy">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="consent">
          <p class="text-center mt-2">
            Our site uses cookies to personalize content, to provide social
            media features and to analyze traffic.
          </p>
          <p class="my-2"><a id="confirm-cookie-consent" class="btn btn-outline-dark btn-sm">That's Cool</a></p>
          <p class="text-center mb-0">
            <a href="/privacy" class="btn btn-inline btn-sm text-dark">More Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
