<footer id="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-last">
        <div class="text-white">
          {% include components/cta-contact.html %}
        </div>
      </div>
      <div class="col-lg-6">
        <div class="h-100" style="position: relative;">
          <h1 class="text-white">Aloha!</h1>
          <p><a href="/contact" class="btn btn-border btn-border-white">Hit us up. We'd love to hear from you.</a></p>
          <div class="d-flex align-items-center text-white">
            <a href="/contact" class="social-icon">
              {% include svg/mail-icon.svg %}
            </a>
            <a href="https://instagram.com/ocupop" class="social-icon">
              {% include svg/instagram.svg %}
            </a>
          </div>
          <div id="logo-wrapper" class="pt-3">
            <a href="/" class="logo-footer">
              <img src="/assets/img/logo-white.svg" class="img-fluid" alt="Ocupop logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>