<footer id="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-last">
        <div class="text-white">
          {% include components/cta-contact.html %}
        </div>
      </div>
      <div class="col-lg-6">
        <div class="py-3">
          <a href="/" class="logo-footer">
            <img src="/assets/img/logo-horizontal.svg" class="img-fluid" alt="Ocupop logo">
          </a>
        </div>
        <div class="py-3">
          <p class="text-white">Social Icons</p>
          <div class="d-flex">
            <ul class="nav">
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
              </li>
              <li class="nav-item">
                <a href="/work" class="nav-link">Work</a>
              </li>
              <li class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="col-6 col-md-2 ml-auto">
        <div class="content">
          <div class="d-flex">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
              </li>
              <li class="nav-item">
                <a href="/work" class="nav-link">Work</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="content">
          <div class="d-flex">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="/focus" class="nav-link">Focus</a>
              </li>
              <li class="nav-item">
                <a href="/contact#careers" class="nav-link">Careers</a>
              </li>
              <li class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</footer>