<section class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="content editable">
          <p class="quote">
            ..we do good work for good people and they make referrals. For 20
            years!”
          </p>
          <p class="quote-author">
            <strong>Michael Nieling</strong><br />Founder and Creative Director
          </p>
        </div>
      </div>
      <div class="col-lg-6">  
        <div class="content editable">
          <p>
            No cheesy sale-sters in EXPRESS shiny shirts, no account planners,
            no middle men, and none of the overhead that goes along with ‘em! We
            interface directly with decision makers and fanatically pursue
            perfection in planning, execution, and implementation. Projects are
            completed quickly and e ciently, and with refreshing candor and
            commitment...always aspiring to the ideal that we work WITH you, not
            for you.
          </p>
          <a href="#" class="btn btn-inline">Learn More...</a>
        </div>
      </div>
    </div>
  </div>
</section>