<head>
  {% include analytics.html %}
  <meta name="google" content="notranslate" />
  <meta http-equiv="Content-Language" content="en_US" />
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }} :: {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://ocupop.com{{ page.url }}" />
  {% include socialshare.html %}

  <!-- Fav and Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://use.typekit.net/wzw6yzl.css">
  <link rel="stylesheet" href="https://webfonts.fontstand.com/WF-031559-2b8cdb5c18c2686f822711d4a431fccf.css" type="text/css"/>


  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/css/vendor/animate.css' | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ '/css/style-updates.css' | prepend: site.baseurl }}"/>

  <!-- Web App Manifest -->
  <link rel="manifest" href="/manifest.json" />

</head>
