<div class="modal fade team-modal-{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-team">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <section id="team-member" class="py-0 d-flex align-items-center">
      <div class="w-100">
        <div class="row align-items-center no-gutters">
          <div class="col-md-6">
            <div class="bg-image aspect-1x1" style="background-image: url({{ member.image | default: site.placeholders.aspect-1x1 }})"></div>
          </div>
          <div class="col-md-6">
            <div class="team-member-details">
              <div class="content">
                <h1>{{ member.name }}</h1>
                <dl class="mt-4">
                  {% if member.role %}
                    <dt>Title</dt>
                    <dd>{{ member.role}}</dd>
                  {% endif %}
                  {% if member.preferred_title %}
                    <dt>Title you prefer</dt>
                    <dd>{{ member.preferred_title }}</dd>
                  {% endif %}
                  {% if member.what_you_want_to_be_when_you_grow_up %}
                    <dt>What you want to be when you grow up</dt>
                    <dd>{{ member.what_you_want_to_be_when_you_grow_up }}</dd>
                  {% endif %}
                  {% if member.catch_phrase %}
                    <dt>Catch Phrase</dt>
                    <dd>{{ member.catch_phrase }}</dd>
                  {% endif %}  
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>