<section id="related-projects">
  <div class="row no-gutters">
    <div class="col-md-6">
      <a href="#" class="expand-full-screen" data-transition="ProjectTransition" data-image="{{ site.placeholders.aspect-4x3 }}">
        <div class="bg-image aspect-16x9" style="background-image: url({{ site.placeholders.aspect-4x3 }})"></div>
        <div class="overlay">
          <p class="project-title">Prev Project Title</p>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="#" class="expand-full-screen" data-transition="ProjectTransition" data-image="{{ site.placeholders.aspect-4x3 }}">
        <div class="bg-image aspect-16x9" style="background-image: url({{ site.placeholders.aspect-4x3 }})"></div>
        <div class="overlay">
          <p class="project-title">Next Project Title</p>
        </div>
      </a>
    </div>
  </div>
</section>