<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="content">
          <div class="bg-image aspect-4x3" style="background-image: url({{ site.placeholders.aspect-4x3 }})"></div>
          <h3 class="mt-3">Project Title</h3>
          <p>project Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cupiditate eos officia perferendis commodi soluta!</p>
          <a href="#" class="btn btn-inline">Learn More</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <div class="bg-image aspect-4x3" style="background-image: url({{ site.placeholders.aspect-4x3 }})"></div>
          <h3 class="mt-3">Project Title</h3>
          <p>project Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cupiditate eos officia perferendis commodi soluta!</p>
          <a href="#" class="btn btn-inline">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>