<!-- <section class="py-0">
  <div id="team-photo-grid">
    <div class="team-photo" style="background-image: url(assets/img/culture/culture-01.jpg)">
    </div>
    <div class="team-photo" style="background-image: url(assets/img/culture/culture-02.jpg)">
    </div>
    <div class="team-photo" style="background-image: url(assets/img/culture/culture-03.jpg)">
    </div>
    <div class="team-photo" style="background-image: url(assets/img/culture/culture-04.jpg)">
    </div>
  </div>
</section> -->
<ul id="rotator">
  <li>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-01.jpg)"></div>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-02.jpg)"></div>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-04.jpg)"></div>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-05.jpg)"></div>
  </li>
  <li>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-06.jpg)"></div>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-07.jpg)"></div>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-09.jpg)"></div>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-10.jpg)"></div>
  </li>
  <li>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-11.jpg)"></div>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-12.jpg)"></div>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-15.jpg)"></div>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-03.jpg)"></div>
  </li>
  <li>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-16.jpg)"></div>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-17.jpg)"></div>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-19.jpg)"></div>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-20.jpg)"></div>
    <div class="team-photo rotator-image" style="background-image: url(/img/culture/culture-21.jpg)"></div>
  </li>
</ul>
  <!-- <ul id="rotator">
    <li><a href="#"><img src="assets/img/culture/culture-01.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-02.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-03.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-04.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-05.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-06.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-07.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-08.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-09.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-10.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-11.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-12.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-13.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-14.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-15.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-16.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-17.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-18.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-19.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-20.jpg" /></a></li>
    <li><a href="#"><img src="assets/img/culture/culture-21.jpg" /></a></li>
  </ul> -->