<section id="testimonial" class="bg-secondary text-dark">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-10">
        {% if page.testimonial.quote %}
        <div class="content ">
          <p class="quote">{{ page.testimonial.quote }}</p>
          <p>
            <span class="author">{{ page.testimonial.author }}</small><br>
              <span class="title">{{ page.testimonial.title }}</small>
          </p>
        </div>
        {% else %}
        <div class="content">
          <p class="quote">I get complimented on our website and materials constantly. In fact, I always joke that if Ocupop hadn’t done such a great job with our design I wouldn’t be so busy all the time</p>
          <p>
            <small>
              <span class="author">Alyssa Fox</span><br>
              <span class="title">Founder, Fox Tax Service</span>
            </small>
          </p>
        </div>  
        {% endif %}
      </div>
    </div>
  </div>
</section>