<div id="cta-contact">
  <h3 class="text-center">We also do the weather!</h3>
  <nav class="nav nav-pills nav-fill">
    <div class="nav-link">
      <!-- <a id="weather-tab" class="nav-link active" data-toggle="tab" href="#weather" role="tab" aria-controls="weather"
        aria-selected="true">
        Weather you agree or not, we still want to hear from you!
      </a> -->
    </div>
  </nav>
  <div class="tab-content">
    <div class="tab-pane active" id="weather" role="tabpanel" aria-labelledby="weather-tab">
      <div class="__react-app" data-component="ContactCTA"></div>
      <a href="/contact" class="btn btn-secondary btn-block mb-5">Contact us for a full report</a>
    </div>
  </div>
</div>
