.logo-pile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    img {
      padding: 20px;
      max-width: 50%;
    }
  }
}