.btn {
  font-family: $font-family-secondary;
  border-radius: 0;
  font-size: 1rem;
  z-index: 1;
  &.btn-inline {
    padding-left: 0;
    padding-right: 0;
    color: $white;
    text-transform: uppercase;
    text-decoration: underline solid $primary;
    @include inline-link-hover-animation();
  }
  &.btn-outline-dark {
    color: $dark;
    text-transform: uppercase;
    border: 1px solid $dark;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 0;
    background: none;
    overflow: hidden;
    position: relative;
    &::after {
      background: $dark;
      height: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      content: "";
      position: absolute;
      z-index: -1;
      @include transition(0.3s);
    }
    &:hover {
      color: $light !important;
      &::after {
        height: 100%;
      }
    }
  }
  &.btn-outline-light {
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 0;
    text-transform: uppercase;
    background: none;
    overflow: hidden;
    position: relative;
    &::before {
      background: $light;
      height: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      content: "";
      position: absolute;
      z-index: -1;
      @include transition(0.3s);
    }
    &:hover {
      color: $dark !important;
      &::before {
        height: 100%;
      }
    }
  }
  &.btn-border {
    font-family: $font-family-secondary;
    color: $dark;
    position: relative;
    overflow: hidden;
    padding: 0;
    text-transform: uppercase;
    @include media-breakpoint-up(lg) {
      &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: $orange;
        @include transition(0.5s);
      }
      &:hover,
      &.active {
        &::after {
          width: 100%;
        }
      }
    }
    &.btn-border-white {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
}
