

.cookie-policy {
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  height: auto;
  background-color: $white;
  z-index: 998;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  opacity: 0;
  @include transition(.4s);
  &.active {
    opacity: 1;
    bottom: 50px;
  }
}

.consent {
  text-align: center;
  font-size: 12px;
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  .btn {
    font-size: 10px;
    @include media-breakpoint-up(md) {
      font-size: 12px;
    }
  }
}
