#cta-contact {
  p {
    font-family: $font-family-secondary;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
  }
  a {
    color: $white;
    &.arrow-right {
      padding-right: 75px;
      position: relative;
      &::after {
        content: '';
        display: block;
        width: 75px;
        height: 25px;
        position: absolute;
        right: 0;
        bottom: 12px;
        background-image: url('/assets/img/arrow-right.png');
        background-size: cover;
      }
    }
  }
  .quote {
    &::before {
      top: 0;
    }
  }
}
