.footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  min-height: 4px;
  background-color: $orange;
}

.consent {
  text-align: center;
  font-size: 16px;
  .btn {
    font-size: 14px;
  }
}
