.footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  min-height: 4px;
  background-color: $orange;
  z-index: 998;
}

.consent {
  text-align: center;
  font-size: 12px;
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  .btn {
    font-size: 10px;
    @include media-breakpoint-up(md) {
      font-size: 12px;
    }
  }
}
