.hover-overlay {
  @include transition(0.5s);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba($blue, 0.9);
  padding: 40px;
  // pointer-events: auto;
  .hover-primary-text {
    font-family: $font-family-secondary;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 0;
    color: $white;
  }
  .hover-secondary-text {
    font-family: $font-family-base;
    font-size: 1rem;
    margin-bottom: 0;
    color: $white;
  }
  &.overlay-purple {
    background-color: rgba($purple, 0.9);
  }
  &.overlay-green-dark {
    background-color: rgba($green-dark, 0.9);
  }
  &.overlay-orange {
    background-color: rgba($orange, 0.9);
  }
  &.overlay-khaki {
    background-color: rgba($khaki, 0.9);
  }
  &.overlay-blue-dark {
    background-color: rgba($blue-dark, 0.9);
  }
  
}
