.hover-overlay {
  @include transition(0.5s);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($blue, 0.9);
  padding: 40px;
  cursor: pointer;
  // pointer-events: auto;
  .hover-primary-text {
    font-family: $font-family-secondary;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 0;
    color: $white;
  }
  .hover-secondary-text {
    font-family: $font-family-base;
    font-size: 0.9rem;
    margin-bottom: 0;
    color: $white;
  }
  &.overlay-purple {
    background-color: rgba($purple, 0.9);
  }
  &.overlay-green-dark {
    background-color: rgba($green-dark, 0.9);
  }
  &.overlay-orange {
    background-color: rgba($orange, 0.9);
  }
  &.overlay-khaki {
    background-color: rgba($khaki, 0.9);
  }
  &.overlay-blue-dark {
    background-color: rgba($blue-dark, 0.9);
  }
  &:hover {
    @include animation(expand, 0.5s);
    .hover-primary-text {
      @include animation(slideLeft, 0.5s, 0.5s);
    }
    .hover-secondary-text {
      @include animation(slideLeft, 0.5s, 0.8s);
    }
  }
}
