.parallax-window {
  height: 400px;
  overflow: hidden;
  width: 100%;
  position: relative;
  .bg-image {
    padding-top: 70%;
  }
  @include media-breakpoint-up(lg) {
    height: 600px;
  }
  @include media-breakpoint-up(xl) {
    height: 800px;
  }
}