#testimonial {
  .quote {
    margin-bottom: 2.5rem;
    font-family: $font-family-base-bold;
  }
  .quote a {
    font-family: $font-family-base;
    font-size: 85%;
    font-weight: 200;
    color: $white;
  }
  .author {
    font-family: $font-family-secondary;
    font-weight: 600;
    text-transform: uppercase;
  }
  .title {
    font-family: $font-family-secondary;
    font-weight: 400;
    text-transform: uppercase;
  }
}
