#testimonial {
  .quote {
    margin-bottom: 2rem;
    font-family: $font-family-secondary-bold;
  }
  .quote a {
    font-family: $font-family-base;
    font-size: 85%;
    font-weight: 200;
    color: $white;
  }
  .author {
    font-family: $font-family-secondary;
    font-weight: 600;
  }
  .title {
    font-family: $font-family-secondary;
    font-weight: 400;
  }
}