#transition {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 999;
  @include animation(slideOutUp, .5s, 5s);
  #logo-block {
    position: absolute;
    @include animation(bounceOutUp, 1.2s, 2s);
    svg {
      @include animation(zoomInUp, 1.2s, 0s);
      max-height: 100%;
      #ocupop-wordmark {
        opacity: 0;
        @include animation(fadeIn, .75s, .5s);
      }
    }
  }
  #quote-block {
    @include animation(bounceInUp, 1.2s, 2.3s);
  }
}

#home-copy {
  @include animation(fadeIn, 1.2s, 6s);
}

#photo-grid {
  @include animation(sectionSlideDown, 1.2s, 5.5s);
}
