<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.layout }}">
    <div id="barba-wrapper">
      <div class="barba-container" data-namespace="{{ page.title | slugify }}">
        {% include header.html %}
        <main id="page-content">{{ content }}</main>
      </div>
    </div>
    {% include footer.html %}
    {% include cookie-policy.html %}
    {% include scripts.html %}
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "365a4efbdfee4fd38e757baefee8aa5a"}'></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>
