---
layout: default
---
{% assign project = page %}
<div class="bg-image aspect-hero" style="background-image:url({{ page.hero_image | default: site.placeholders.hero }})"></div>
<section id="project">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2>{{ project.client }}</h2>
          <h3>{{ project.title }}</h3>
          <div class="project-tags">
            <p>{% for tag in page.tags %}<span {% unless forloop.last %}class="dotted"{% endunless %}>{{ tag  | capitalize }}</span>{% endfor %}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="content">
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>

{{ page.content }}
{% include related-projects.html %}