---
layout: default
---

<div class="bg-image aspect-hero" style="background-image: url({{ page.hero_image | default: site.placeholders.hero }})"></div>
<section id="project" class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="content">
          <h2>{{ page.title }}</h2>
          <h3>{{ page.client }}</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="project-tags content">
          <p>{% for tag in page.tags %}<span {% unless forloop.last %}class="dotted"{% endunless %}>{{ tag  | capitalize }}</span>{% endfor %}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>

{{ page.content }}
{% include related-projects.html %}