---
layout: default
---
{% assign project = page %}
<div id="project-hero" class="bg-image aspect-hero" style="background-image:url({{ page.hero_image | default: site.placeholders.hero }})"></div>
<section id="project" class="pb-0 project-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content slide-up-1">
          <h2>{{ project.quote }}</h2>
          <h3>{{ project.client }}</h3>
          <div class="project-tags">
            <p>{% for tag in page.tags %}<span {% unless forloop.last %}class="dotted"{% endunless %}>{{ tag  | capitalize }}</span>{% endfor %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="project-content">
  {{ page.content }}
</div>
<div class="project-content">
  {% include related-projects.html %}
</div>

