
/* cognito form style updates*/
.cog-cognito .cog-form__container .cog-button--primary {
  padding: 0.375rem 1.25rem !important;
  border-radius: 0 !important;
  float: none !important;
  border: 1px solid #000 !important;
  color: #000 !important;
  background-color: transparent !important;
  text-transform: uppercase !important;
  margin: 0 !important;
  height: 40px !important;
  line-height: 1 !important;
}

.cog-cognito .cog-label {
  font-family: "roboto-condensed", Helvetica, Arial, sans-serif !important;
}

.el-checkbox__label {
  padding-left: 27px !important;
}

#contact-form .cog-cognito .cog-input input {
  border-bottom: 1px solid #000;
}

