#form-header {
  .navbar-brand {
    width: 150px;
  }
}
#form-footer {
  background-color: $dark;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 160px;
  img {
    width: 190px;
  }
}


// Enter cognito styles below
.cognito {
  .c-forms-form {
    .c-field {
      padding: 10px 0;
      @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
      }
      
      
    }
    [data-field="Message"] {
      @include media-breakpoint-up(md) {
        align-items: flex-start;
        label {
          display: inline-block;
          padding-top: 10px;
        }
      }
    }
    .c-label {
      min-width: 85px;
      font-family: $font-family-base-bold !important;
      color: $dark !important;
      padding: 0;
    }
    .c-editor {
      font-family: $font-family-base !important;
      padding-left: 0;
      padding-right: 0;
      color: $dark !important;
      font-size: 0.95rem !important;
      background-color: $light;
      width: 100%;
    }
    .c-title {
      padding: 0;
    }
    .c-button-section {
      button {
        margin: 20px auto;
        border-radius: 0;
        border: 0;
      }
    }
    .c-action {
      width: 100%;
      margin: 0;
      @include media-breakpoint-up(md) {
        padding-left: 85px;
      }
    }
    input[type="text"],
    textarea {
      background: transparent;
      padding: 8px;
      border: 0 !important;
    }
    .c-validation {
      border-radius: 0;
      margin: 0 8px 0 0;
      background-color: $secondary !important;
    }
    .c-forms-confirmation {
      text-align: center;
      background-color: transparent;
      min-height: 0;
    }
    .c-forms-confirmation-message {
      color: $dark !important;
      font-family: $font-family-base-bold !important;
      font-size: 25px !important;
      border: 1px solid $dark;
      width: 100%;
    }
  }
  #c-submit-button {
    float: none;
    border: 1px solid $black;
    color: $black;
    background-color: transparent;
    font-family: $font-family-secondary;
    text-transform: uppercase;
    @include transition(0.5s);
    &:hover {
      background-color: $dark;
      color: $white;
    }
  }
}

//form page styles (message strategy and testimonials)
.form {
  .cognito {
    .c-forms-form {
      .c-field {
        padding: 10px 0;
        display: block;
        @include media-breakpoint-up(md) {
          display: block;
        }
      }
      .c-label {
        min-width: 0;
      }
      .c-editor {
        padding-left: 0;
        padding-right: 8px;
        background-color: transparent;
        input,
        textarea {
          background-color: $light;
        }
      }
      // .c-title {
      //   padding: 0;
      // }
      // .c-button-section {
      //   button {
      //     margin: 20px auto;
      //     border-radius: 0;
      //     border: 0;
      //   }
      // }
      .c-action {
        @include media-breakpoint-up(md) {
          padding-left: 0;
        }
      }
    }
  }
}

