body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-base;
}

section {
  padding: 75px 0;
}

dl {
  dt {
    font-family: $font-family-secondary;
    text-transform: uppercase;
    margin: 5px 0;
  }

  dd {

  }
}