#page-footer {
  padding: 50px 0;
  background-color: $dark;

  .nav-link {
    color: $white;
    font-weight: 100;
    font-family: $font-family-secondary;
    font-size: 15px;
    &:first-child {
      padding-left: 0;
    }
    &.active {
      background: $dark;
    }
  }
}

.logo-footer {
  display: block;
  position: relative;
  max-width: 190px;

  // img {
  //   &:nth-of-type(1) {
  //     position: absolute;
  //     left: 20px;
  //     top: 0;
  //     width: 190px;
  //   }
  //   &:nth-of-type(2) {
  //     width: 190px;
  //     position: absolute;
  //     top: 0;
  //     left: 20px;
  //     opacity: 0;
  //     @include transition(opacity, 0.4s);
  //     &:hover {
  //       opacity: 1;
  //     }
  //   }
  // }
}
