#page-footer {
  padding: 80px 0;
  background-color: $dark;
  .social-icon {
    #mail-icon {
      width: 40px;
      height: 40px;
    }
    #instagram-icon {
      width: 20px;
      height: 20px;
    }
  }
  .nav-link {
    color: $white;
    font-weight: 100;
    font-family: $font-family-secondary;
    font-size: 15px;
    &:first-child {
      padding-left: 0;
    }
    &.active {
      background: $dark;
    }
  }
}

#logo-wrapper {
  position: absolute;
  height: 80px;
  width: 80px;
  bottom: 0;
}
.logo-footer {
  display: block;
  position: relative;
  max-width: 65px;
}
