%clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

// Global Spacing
.content {
  position: relative;
  padding: 20px;
  @extend %clearfix;
}

.lead {
  font-family: $font-family-base-bold;
}

// Responsive containers
.container-4x3 {
  height: 0;
  padding-top: 60%;
  width: 100%;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Background images
.bg-image {
  display: block;
  height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  position: relative;
  &.aspect-5x7 {
    padding-top: 120%;
  }
  &.aspect-1x1 {
    padding-top: 100%;
  }
  &.aspect-4x3 {
    padding-top: 75%;
  }
  &.aspect-16x9 {
    padding-top: 56.25%;
  }
  &.aspect-2x1 {
    padding-top: 50%;
  }
  &.aspect-hero {
    padding-top: 42%;
    @include media-breakpoint-down(sm) {
      padding-top: 42%;
    }
  }
  &.bg-fixed {
    background-attachment: fixed;
  }
}

.sticky-top {
  top: 75px;
  z-index: 997;
}

// Color Utilities
.bg-black {
  background-color: $black !important;
}
.bg-gray-800 {
  background-color: $gray-800;
}

.bg-orange {
  background-color: $orange;
}

.bg-khaki {
  background-color: $khaki;
}

.bg-yellow-dark {
  background-color: $yellow-dark;
}

.fill-white {
  fill: $white;
}

.bg-navy {
  background-color: $navy;
}

.bg-navy-dark {
  background-color: $navy-dark;
}

.bg-blue-med {
  background-color: $blue-med;
}

.bg-yellow {
  background-color: $yellow;
}

.dotted {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 10px;
    display: block;
    background-color: $gray-400;
    width: 3px;
    height: 3px;
    border-radius: 50%;
  }
}

// Screen / Slides
.full {
  position: relative;
  width: 100vw;
  height: 100vh;
}

// Text Utilities
.text-sans-serif {
  font-family: $font-family-secondary;
}

.text-mega {
  font-size: calc(28px + (88 - 28) * ((100vw - 300px) / (1440 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1440 - 300)));
}

.text-nocase {
  text-transform: none !important;
}

.text-large {
  font-size: 1.5rem;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  perspective-origin-x: 100%;
  position: relative;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}
