#related-projects {
  color: $white;
  font-weight: 600;
  font-family: $font-family-secondary;
  a {
    font-family: $font-family-secondary;
    position: relative;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
  }
}
