@import url("https://use.typekit.net/oyh6htk.css");
@import url("https://webfonts.fontstand.com/WF-031559-2b8cdb5c18c2686f822711d4a431fccf.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #353535;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.theme-transition {
  transition: background-color 0.3s ease;
}

.nav-item {
  @apply block px-4 font-sans py-2 text-gray-900  rounded-full text-lg font-medium transition-colors text-center;
}

.bg-dark{
  @apply text-white;
  .nav-item{
    @apply text-white;
  }
}