@keyframes iconZoomIn {
  from {
    opacity: 0;
    transform: scale3d(20, 20, 20) translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}

// CARD SLIDE IN
@keyframes cardSlideIn {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// Section Slide Down
@keyframes sectionSlideDown {
  from {
    opacity: 1;
    transform: translate3d(0, -30%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

//Page intro slide Open
@keyframes slideOpen {
  from {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  to {
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

//fade in
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  // Loop through the cards and delay the loading animation.
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      @include animation(cardSlideIn, 0.8s, 0.1s * $i);
    }
  }
}
