.focus {
  flex: 1 0 0%;
  min-width: 0;
}
.page-container {
  visibility: hidden;
}
.page {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}
