.image-credit {
  position: absolute;
  bottom: 10px;;
  left: 10px;
  font-family: $font-family-secondary;
  text-transform: uppercase;
  color: $white;
  font-weight: 300;
  font-size: 12px;
  strong {
    font-weight: 600;
  }
}