#project-nav {
  display: flex;
  height: 150px;
  @include media-breakpoint-down(lg) {
    height: auto;
    flex-wrap: wrap;
    .project-nav-item {
      width: 33.33%;
      height: 175px;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
    }
  }
  .project-nav-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-100;
    border-left: 1px solid $white;
    border-right: 1px solid $white;
    .hover-overlay {
      .hover-primary-text {
        font-size: 1rem;
      }
    }
    img {
      width: 25%;
    }
  }
}