#project-nav {
  display: flex;
  height: 150px;
  .project-nav-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-100;
    border-left: 1px solid $white;
    border-right: 1px solid $white;
    img {
      width: 25%;
    }
  }
}