#video-modal {
  .modal-content {
    background: transparent;
  }
  .modal-header {
    border: 0;
  }
  .modal-dialog {
    background-color: $black;
    .close {
      color: $white;
      text-shadow: 0;
      font-weight: 100;
      opacity: 1;
    }
  }
  iframe {
    min-height: 350px;
    @include media-breakpoint-up(md) {
      min-height: 500px;
    }
  }
}