.weather-icon {
  display: block;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  &.clear-day {
    background-image: url('/assets/img/weather-icons/clear-day.svg');
  }
  &.clear-night {
    background-image: url('/assets/img/weather-icons/clear-night.svg');
  }
  &.rain {
    background-image: url('/assets/img/weather-icons/rain.svg');
  } 
  &.snow {
    background-image: url('/assets/img/weather-icons/snow.svg');
  } 
  &.sleet {
    background-image: url('/assets/img/weather-icons/sleet.svg');
  }
  &.wind {
    background-image: url('/assets/img/weather-icons/wind.svg');
  }
  &.fog {
    background-image: url('/assets/img/weather-icons/fog.svg');
  }
  &.cloudy {
    background-image: url('/assets/img/weather-icons/cloudy.svg');
  }
  &.partly-cloudy-day {
    background-image: url('/assets/img/weather-icons/partly-cloudy-day.svg');
  }
  &.partly-cloudy-night {
    background-image: url('/assets/img/weather-icons/partly-cloudy-night.svg');
  }
}
