---
layout: default
title: About
testimonial: true
---

<section id="page-intro" class="fade-in">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content editable">
          <h1>About us</h1>
          <p>We’re in this game to make our clients’ brands perform and we will
            fight and scrap and claw and beg until we’re satisfied that the
            result is nothing short of exemplary.</p>
          <p>So, if you are looking for switchboards, hold music, synergy,
            ideation, and enough buzz-words to fill a conference room, we’re
            probably not the ONE. But, if you love what you do and are proud of
            your company, your product and your employees, chances are we might
            fit right in. We thrive on relationships of mutual respect,
            commitment and enjoyment – WITH our clients, our collaborators and
            each other; we’re all in this together right?</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row no-gutters fade-in">
  <div class="col-12">
    <div class="bg-image aspect-4x3" style="background-image: url('/uploads/ocupop-about-fucknoshityeah.jpg')"></div>
  </div>
</div>
<section class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 slide-right">
        <div class="content editable">
          <h2 class="mt-5">Fuck No!</h2>
          <p>
            Ocupop fights the good fight, battling a sneaky culture of
            amateurism that too often poisons design and design relationships.
            We leverage the power of design thinking and take our role as a
            trusted expert VERY seriously. We work directly and openly with our
            clients, carefully sharing our process, researching and defending
            every decision, and earning and maintaining trust while we blow
            their fucking minds.
          </p>
          <a href="#" class="btn btn-inline">Watch the Talk</a>
        </div>
      </div>
      <div class="col-md-6 slide-left">
        <div class="content editable">
          <h2 class="mt-5">Shit Yeah!</h2>
          <p>
            ‘Nothing comes from no.’ Though we aren’t afraid to say no when the
            circumstances demand it, we are equally passionate about charging
            ahead when an opening presents itself and building the experience
            and expertise vital to unleashing the full power of saying no...and
            yes. This energy and optimizism is core to how we’ve managed to
            design some of the most influential logos, campaigns, and user
            interfaces on the web over the last twenty years.
          </p>
          <a href="#" class="btn btn-inline">Watch the Talk</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      {% for member in site.data.staff %}
      <div class="col-md-4">
        <div class="content">
          <div class="position-relative">
            <a href="#" class="bg-image aspect-1x1 border-0 {% cycle 'slide-right', 'slide-up', 'slide-left' %}" style="background-image: url({{ member.image | default: site.placeholders.aspect-4x3 }})" data-toggle="modal" data-target=".team-modal-{{ forloop.index }}">
              <div class="hover-overlay text-white">
                <div class="hover-content">
                  <p class="hover-primary-text">{{ member.name }}</p>
                  <p class="hover-secondary-text"><small>{{ member.role }}</small></p>
                </div>
              </div>
            </a>
            {% include modal-team.html %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include good-work.html %}
