---
layout: default
title: Contact
testimonial:
  quote: Ocupop was our strategic communications partner in the development of the Refed Roadmap. The visuals really brought out the solutions and opportunities to reduce food waste in the U.S.
  author: Jesse Fink
  title:
  company: ReFED
---
<section id="page-intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content editable">
          <h1>What we're like to work with</h1>
          <p>We are, simply speaking, a small shop, with all of the benefits and pit-falls therein. You see what you get; no
            account executives, no receptionists, no bagels or coffee. The coolest Ocupop Office Funzone® around and the best
            people in the world.</p>
        </div>
      </div>
      <div class="col-12 col-lg-10 mx-lg-auto">
        <div id="contact-form" class="content">
          <script src="https://www.cognitoforms.com/f/seamless.js" data-key="bbN8iw1MJUqjPe6aHn-_rw" data-form="25"></script>
          <!-- <div id="contact-page-form" class="cognito">
            <div class="preloader">
              <small>contact form loading</small>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
{% include team-photo-grid.html %}
{% include testimonials.html %}