---
layout: default
title: Focus
---
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1>Overview of Expertise</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quia natus voluptatibus consequuntur velit deserunt aspernatur adipisci reprehenderit eligendi quidem! Repellat beatae sapiente totam eos.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div id="focus-accordion" class="accordion">
      {% for focus in site.focuses %}
      {% assign project = site.projects | where: "slug", focus.project | first %}
      <div class="card">
        <div class="card-header" id="heading-{{ forloop.index }}">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ forloop.index }}" aria-expanded="true" aria-controls="collapseOne">
            {{ focus.title }}
          </button>
        </div>
        <div id="collapse-{{ forloop.index }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="headingOne" data-parent="#focus-accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="content">
                  <div class="bg-image aspect-4x3 bg-light" style="background-image:url({{ project.image }})"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="content">
                  {{ focus.title }}
                  {{ focus.summary_html }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content text-center">
          <a href="#" class="btn btn-primary">Contact CTA</a>
        </div>
      </div>
    </div>
  </div>
</section>
