---
layout: default
title: Home
projects:
  - google-developer-days
  - kunoa
  - first-launch
  - burton-learn-to-ride
  - airbel
  - bittercube
mosaic:
  - image: /assets/img/home/homepage-culture-01.jpg
  - image: /assets/img/home/homepage-culture-02.jpg
  - image: /assets/img/home/homepage-culture-03.jpg
  - image: /assets/img/home/homepage-culture-04.jpg
  - image: /assets/img/home/homepage-culture-05.jpg
testimonial:
  quote: >-
    I've never worked with a firm more easily in-sync with my style, taste, and
    requirements. Ocupop is easily the best design firm I've worked with, and
    the savings of time, energy, and money needed to ensure success with them
    makes it so I'll likely never willingly choose another firm to work with.
    Michael and team are a pure pleasure.
  author: Matthew McNulty
  title:
  company: Google
---

<section id="page-intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <p class="quote editable">Ocupop is what the industry-types would call a boutique agency.</p>
        </div>
      </div>
    </div>
    <div id="home-copy" class="row">
      <div class="col-12">
        <div class="content editable">
          <p>
            As experts, we're hired to deliver solutions not options. We've honed an uncanny ability to be direct yet diplomatic, concise yet collaborative&mdash;tackling tough conversations and even tougher design problems together. We avoid the 'consultant-cop-out' of forcing clients to choose between multiple partially thought out options and instead work collaboratively toward one reasoned, powerful solution.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-0 project-grid">
 {% include photo-grid.html %}
</section>
<div id="project-nav">
  <div class="project-nav-item">
    <img src="/assets/img/home/sustainable-am.png" class="img-fluid" alt="Sustainable America Logo" />
    <div class="hover-overlay">
      <p class="hover-primary-text">Sustainable America</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/assets/img/home/heirloom.png" class="img-fluid" alt="Heirloom Liqueurs Logo">
    <div class="hover-overlay">
      <p class="hover-primary-text">Heirloom Liqueurs</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/assets/img/home/prairie-estates.png" class="img-fluid" alt="Prairie Estates Genetics Logo">
    <div class="hover-overlay">
      <p class="hover-primary-text">Prairie Estates Genetics</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/assets/img/home/hihr.png" class="img-fluid" alt="HiHR Logo">
    <div class="hover-overlay">
      <p class="hover-primary-text">HiHR</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/assets/img/home/html5.png" class="img-fluid" alt="HTML5 Logo">
    <div class="hover-overlay">
      <p class="hover-primary-text">HTML5</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/assets/img/home/flutter.png" class="img-fluid" alt="Flutter Logo">
    <div class="hover-overlay">
      <p class="hover-primary-text">Flutter</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/assets/img/home/foxtax.png" class="img-fluid" alt="Fox Tax Logo">
    <div class="hover-overlay">
      <p class="hover-primary-text">Fox Tax</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/assets/img/home/tls.png" class="img-fluid" alt="TLS Logo">
    <div class="hover-overlay">
      <p class="hover-primary-text">TLS 1.3</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/assets/img/home/aequion.png" class="img-fluid" alt="Aeqion Logo">
    <div class="hover-overlay">
      <p class="hover-primary-text">Aequion</p>
    </div>
  </div>
</div>

<section class="bg-dark text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="content editable">
          <p class="quote">
            If you guys are such hot shit, who have you worked with? Anything I have ever seen?
          </p>
          <p class="quote-author">
            <strong>You (being a little grumpy, honestly)</strong><br />Potential Ocupop Client
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content editable">
          <p>
            Ocupop has helped to define the visual language of the web and
            beyond since 2000, we’ve led design projects for companies at all
            ends of the spectrum—from Google, Facebook, and Mozilla to PBS,
            SXSW, and Burton Snowboards to countless successful (and horribly
            failed) startups, our small, super-powered team has created some of
            the most influential logos, icons, campaigns and user interfaces on
            the web and beyond.
          </p>
          <a href="/contact" class="btn btn-border btn-border-white">Let's Talk</a>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/assets/img/home/logopile-google.png" alt="Google Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/assets/img/home/logopile-w3c.png" alt="W3C Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/assets/img/home/logopile-harvardbusinessreview.png" alt="Harvard Business Review Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="content">
          <img src="/assets/img/home/logopile-sxsw.png" alt="South by SouthWest Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/assets/img/home/logopile-facebook.png" alt="Facebook Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/assets/img/home/logopile-frontline.png" alt="Frontline Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/assets/img/home/logopile-pbs.png" alt="PBS Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/assets/img/home/logopile-burton.png" alt="Burton Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="content">
          <img src="/assets/img/home/logopile-mozilla.png" alt="Mozilla Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="content">
          <img src="/assets/img/home/logopile-internetsociety.png" alt="Internet Society Logo" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>

{% include team-photo-grid.html %}

<section>
  <div class="container">
    <div class="row ">
      <div class="col-lg-6">
        <div class="content editable">
          <p class="quote">We are DEZIGNING! Ocupop rulez SUPREME!</p>
          <p class="quote-author">
            <strong>Jon Burr</strong><br />Ocupop Web Developer, Canadian
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content editable">
          <p>
            Infamous international Vision Quests, dance parties, and spirited
            creative debate, Tom Collinses, skateboard ramps, and world class
            design. Working at Ocupop is designed to be the best job you’ve ever
            had—and we are always looking for the right people to add to The
            World’s Greatest DesignsquadTM, so drop a joke in the joke station
            and let’s see if you’ve got what it takes!
          </p>
          <a href="/about" class="btn btn-border">About Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include testimonials.html %}