---
layout: default
title: Home
projects:
  - google-developer-days
  - airbel
  - first-launch
  - burton-learn-to-ride
  - kunoa
  - bittercube
mosaic:
  - image: /img/home/homepage-culture-01.jpg
  - image: /img/home/homepage-culture-02.jpg
  - image: /img/home/homepage-culture-03.jpg
  - image: /img/home/homepage-culture-04.jpg
  - image: /img/home/homepage-culture-05.jpg
testimonial:
  quote: >-
    I've never worked with a firm more easily in-sync with my style, taste, and
    requirements. Ocupop is easily the best design firm I've worked with, and
    the savings of time, energy, and money needed to ensure success with them
    makes it so I'll likely never willingly choose another firm to work with.
    Michael and team are a pure pleasure.
  author: Matthew McNulty
  title:
  company: Google
---
 <!--{% include transition.html %} -->

<section id="page-intro">
  <div class="container">
    <div class="row ">
      <div class="col-12">
        <div class="content">
          <p class="quote">I have never felt more alive!</p>
          <p class="quote-author">
            <strong>Bert Appward</strong><br />CEO, worlds largest company
          </p>
        </div>
      </div>
    </div>
    <div id="home-copy" class="row">
      <div class="col-12">
        <div class="content">
          <p>
            Yeah. No. That’s complete bullshit. Though we have tons of
            testimonials exalting the breadth of our awesomeness (from Jeff’s
            beard to Michael’s hair to Abby’s quality nicknames to even our work
            itself), this quote is made up, but it’s what we expect every client
            to say after working with Ocupop.
          </p>
          <p>
            The power of design thinking paired with unparalleled enthusiasm and
            empathy makes for a creative experience like no other. Equal parts
            energizing and enlightening, our client relationships are tight. We
            dig deep, debate, and deliver together—laughing, crying and fighting
            like hell to change lives... or at very least blow minds.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-0 project-grid">
 {% include photo-grid.html %}
</section>
<div id="project-nav">
  <div class="project-nav-item">
    <img src="/img/home/sustainable-am.png" class="img-fluid" alt="Sustainable America Logo" />
    <div class="hover-overlay">
      <p class="hover-primary-text">Sustainable America</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/img/home/heirloom.png" class="img-fluid" alt="Heirloom Liqueurs Logo" />
    <div class="hover-overlay">
      <p class="hover-primary-text">Heirloom Liqueurs</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/img/home/prairie-estates.png" class="img-fluid" alt="Prairie Estates Genetics Logo" />
    <div class="hover-overlay">
      <p class="hover-primary-text">Prairie Estates Genetics</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/img/home/hihr.png" class="img-fluid" alt="HiHR Logo" />
    <div class="hover-overlay">
      <p class="hover-primary-text">HiHR</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/img/home/html5.png" class="img-fluid" alt="HTML5 Logo" />
    <div class="hover-overlay">
      <p class="hover-primary-text">HTML5</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/img/home/flutter.png" class="img-fluid" alt="Flutter Logo" />
    <div class="hover-overlay">
      <p class="hover-primary-text">Flutter</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/img/home/foxtax.png" class="img-fluid" alt="Fox Tax Logo" />
    <div class="hover-overlay">
      <p class="hover-primary-text">Fox Tax</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/img/home/tls.png" class="img-fluid" alt="TLS Logo" />
    <div class="hover-overlay">
      <p class="hover-primary-text">TLS</p>
    </div>
  </div>
  <div class="project-nav-item">
    <img src="/img/home/aequion.png" class="img-fluid" alt="Aeqion Logo" />
    <div class="hover-overlay">
      <p class="hover-primary-text">Aequion</p>
    </div>
  </div>
</div>

<section class="bg-dark text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="content editable">
          <p class="quote">
            If you guys are such hot shit, who have you worked with? Anything I have ever seen?
          </p>
          <p class="quote-author">
            <strong>You (being a little grumpy, honestly)</strong><br />Potential Ocupop Client
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content editable">
          <p>
            Ocupop has helped to define the visual language of the web and
            beyond since 2000, we’ve led design projects for companies at all
            ends of the spectrum—from Google, Facebook, and Mozilla to PBS,
            SXSW, and Burton Snowboards to countless successful (and horribly
            failed) startups, our small, super-powered team has created some of
            the most influential logos, icons, campaigns and user interfaces on
            the web and beyond.
          </p>
          <a href="/contact" class="btn btn-border btn-border-white">Let's Talk</a>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between mt-5">
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/img/home/logopile-google-formatted.png" alt="Google Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/img/home/logopile-w3c-formatted.png" alt="W3C Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/img/home/logopile-harvardbusinessreview-formatted.png" alt="Harvard Business Review Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="content">
          <img src="/img/home/logopile-sxsw-formatted.png" alt="South by SouthWest Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/img/home/logopile-facebook-formatted.png" alt="Facebook Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/img/home/logopile-frontline-formatted.png" alt="Frontline Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/img/home/logopile-pbs-formatted.png" alt="PBS Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="content">
          <img src="/img/home/logopile-burton-formatted.png" alt="Burton Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="content">
          <img src="/img/home/logopile-mozilla-formatted.png" alt="Mozilla Logo" class="img-fluid" />
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="content">
          <img src="/img/home/logopile-internetsociety-formatted.png" alt="Internet Society Logo" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>

{% include team-photo-grid.html %}

<section>
  <div class="container">
    <div class="row ">
      <div class="col-lg-6">
        <div class="content editable">
          <p class="quote">We are DEZIGNING! Ocupop rulez SUPREME!</p>
          <p class="quote-author">
            <strong>Jon Burr</strong><br />Ocupop Web Developer, Canadian
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content editable">
          <p>
            Infamous international Vision Quests, dance parties, and spirited
            creative debate, Tom Collinses, skateboard ramps, and world class
            design. Working at Ocupop is designed to be the best job you’ve ever
            had—and we are always looking for the right people to add to The
            World’s Greatest Designsquad&trade;, so drop a joke in the joke station
            and let’s see if you’ve got what it takes!
          </p>
          <a href="/about" class="btn btn-border">About Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include testimonials.html %}